<div class="card-container">
  <% @cocktails.each do |ck| %>
    <%= link_to cocktail_path(ck) do  %>
      <div class="cocktail-card">
        <h4><%= ck.name %></h4>
        <ul>
          <% ck.doses.each do |dose| %>
            <li><%= dose.ingredient.name %></li>
          <% end %>
        </ul>
        <%# avg_rating = ck.ratings.count.zero? ? "No rating" : (ck.ratings.sum / ck.ratings.count).to_s + " Stars"%>
        <p><%= 0 %></p>
      </div>
    <% end %>
  <% end %>
</div>
