header {
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

header .logo {
  font-size: 50px;
  font-family: $headers-font;
  color: $light-gray;
}
